@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	font-family: Times New Roman;
	background-color: #000205;
	border: solid white 5px;
	border-radius: 50px;
	padding: 10px;
}
h1, h2 {
	height: 10%;
	width: 100%;
	text-align: center;
}
	.h1Andh2 {
		background-color: #f5f9fe;
		border-radius: 50px 50px 0 0;
	}
h1 {
	font-size: 48px;
}
h3 {
	font-size: 24px;
	margin-top: 20px;
}
h4 {
	font-size: 18px;
	margin: 0px;
}
h5{
	font-size: 15px;
	margin: 10px 20px 20px 20px;
}
h6 {
	font-size: 12px;
	margin: 0px;
}
p {
	margin: 0px;
	padding-left: 15px;
}
nav {
	height: 5%;
	width: 100%;
	text-align: center;
	background-color: #e9f3fe;
	padding: 5px 0 5px 0;
}
a {
	text-decoration: none;
	color: #28486b;
	}
button {
	color: #28486b;
	font-family: Times New Roman;
	background-color: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
.mainAndAsideContainer {
	display: flex;
	flex-direction: row;
	background-color: #637a93;
	border-radius: 0 0 50px 50px;
	height: 1300px;
}
	main, aside {
		padding: 0 25px 0 25px;
		height: 100%;
	}
	main {
		display: flex;
		flex-direction: column;
		width: 70%;
		background-color: #daebfe;
		border-radius: 0 0 0 50px;
	}
	aside {
		width: 30%;
		margin-top: 20px;
	}
	.aside {
		margin-top: 10px;
	}
span {
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
}
	.meter > span {
  		display: block;
  		height: 9px;
  		border-top-right-radius: 8px;
  		border-bottom-right-radius: 8px;
 		border-top-left-radius: 20px;
  		border-bottom-left-radius: 20px;
  		background-color: #99c1f1;
  		box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  		position: relative;
  		overflow: hidden;
	}
	.full > span {
		border-radius: 20px;
		background-image: linear-gradient(#1c71d8, #1a5fb4);
	}
	.threeFourth > span {
  		background-image: linear-gradient(#62a0ea, #3584e4);
	}
	.half > span {
		background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
	}
	.oneFourth > span {
		background-image: linear-gradient(#c9d4fe, #c5e2fe);
	}
footer, .footer {
	height: 5%;
	width: 100%;
	text-align: right;
	color: white;
	position: relative;
	right: 10px;
	background-color: transparent;
	font-size: 12px;
	display: inline-block;
	margin: 5px;
}
	.bottomInfo {
		padding-bottom: 20px;
	}
	.bottomCerts {
		font-size: 12px;
	}
	.footerAddress{
		margin-left: 20px;
	}

.meter {
  box-sizing: content-box;
  height: 11px;
  width: 90%;
  position: relative;
  background: #f5f9fe;
  border-radius: 25px;
  padding: 5px;
  margin: 10px 0 20px 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.email {
	color: black;
}
.emailFooter {
	color: white;
}
.skills {
	margin-top: 20px;
}
.buttonToOpenCerts {
	margin: 0px;
	padding: 0px;
}
.goDaddy {
	background-color: white;
	width: 135px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	order: 2;
	position: relative;
	left: 45%;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #28486b;
}
	.bottomLink {
		color: #e9f3fe;
	}
	.popupClose {
		color: white;
		border: white solid 2px;
		border-radius: 15px;
		font-weight: bold;
		display: block;
		position: relative;
		left: 65px;
		font-size: 14px;
		margin: 5px;
	}
		.popupClose:hover {
		background-color: #daebfe;
		border: #637a93 solid 2px;
		color: #637a93;
		}
.popup .popuptext {
  visibility: hidden;
  width: 165px;
  background-color: #586c82;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5b7087 transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.certWindowContainer {
	visibility: hidden;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	max-width: 750px;
	max-height: 745px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
}
	.backgroundDim {
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #241f31;
		opacity: .6;
		pointer-events: none;
		z-index: 1;
	}
	.xButton {
		visibility: hidden;
		color: #1b4d7d;
		background-color: #ffffff;
		border: solid 3px #884cde;
		border-radius: 10px;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 16px;
		height: 30px;
		width: 30px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
		position: fixed;
		right: 0px;
	}
		.webDevelopmentCert, .sqlCert, .pythonCert {
			position: absolute; 
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			max-height: 690px;
			max-width: 625px;
			height: 690px;
			width: 625px;
			box-shadow: 5px 5px 5px rgba(0,0,0,0.3)
		}
		.webDevelopmentCert {
			visibility: hidden;
		}
		.sqlCert {
			visibility: hidden;
		}
		.pythonCert {
			visibility: hidden;
		}
	.dotContainer {
		visibility: hidden;
		display: flex;
		display-direction: row;
		justify-content: space-between;
		width: 15%;
		position: fixed;
		bottom: 0px;
		z-index: 3;
	}
		.dot {
			width: 20px;
			height: 20px;
			border-radius: 15px;
			background-color: #9553f1;
			border: solid white 2px;
			cursor: pointer;
		}
	.arrowButtonContainer {
		display: flex;
		display-direction: row;
		justify-content: space-between;
		width: 100%;
		position: fixed;
		bottom: 0px;
	}
		.leftArrow, .rightArrow {
			visibility: hidden;
			width: 55px;
			height: 40px;
			border: solid 3px #9553f1;
			background-color: white;
			border-radius: 20%;
		}
			
.popup:hover, button:hover, a:hover {
	color: #1a5fb4;
}
	.xButton:hover, .leftArrow:hover, .rightArrow:hover, .dot:hover {
		border: solid 3px #3584e4 !important;
		background-color: #b0c7e4 !important;
	}	

::selection {
	color: white;
	background-color: #3f3fbf;
}
